body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: white;
}

header {
    text-align: center;
    background: #161b22;
    padding: 20px;
    font-size: 22px;
    border-bottom: 1px solid #30363d;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.api-box, .trades-box {
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #30363d;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #238636;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2ea043;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #30363d;
    text-align: center;
}
